{% extends 'admin.html.twig' %}

{% block title %}Gérer les doléances{% endblock %}

{% block content %}
	<h1>Gérer les doléances</h1>
	<a href="{{ path("admin_doleances_ajout") }}" class="btn">Ajouter une doléance</a>
		<table class="table striped centered responsive-table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for doleances in doleances %}
					<tr>
						<td>{{doleances.date|date("d/m/Y")}}</td>
						<td>{{doleances.title}}</td>
						<td>{{doleances.description}}</td>
						<td class="text-center">
							<a href="{{ path("admin_doleances_modifier", {id: doleances.id}) }}" class="btn bouton-index">Modifier</a>
							<form action="{{ path('admin_doleances_supprimer', {'id': doleances.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette doléances ?');">
    							<button class="btn bouton-index">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
