{% extends 'admin.html.twig' %}

{% block title %}Hello CommerceController!
{% endblock %}

{% block content %}
	<h1>Gérer les commerces du quartier</h1>
	<a href="{{ path("admin_commerce_ajout") }}" class="waves-effect waves-light btn-small">Ajouter un commerce</a>
	<table class="table striped centered responsive-table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Description</th>
				<th>Adresse</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commerce in commerce %}
				<tr>
					<td>{{commerce.name}}</td>
					<td>{{commerce.description}}</td>
					<td>{{commerce.address}}</td>
					<td><img class="image-index" src="/upload/{{commerce.imgpath}}"></td>
					<td class="text-center">
						<a href="{{ path("admin_commerce_modifier", {id: commerce.id}) }}" class="btn">Modifier</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
